.main-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}
.example-card {
    display: inline-block;
    width: 30%;
    margin: 20px;
    vertical-align: top;
    cursor: pointer;
}

.your-location-weather-card {
  min-width: 250px;
  padding: 20px;
  margin: 5px;
  background: rgb(228, 240, 162);
  
}
.weather-card{
    min-width: 250px;
    padding: 20px;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
}

.title{
   text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    
  }
 .flex-row > div {
    flex: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;

  }
  div > .temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    color: black;
    line-height: 30px;
}
div> .outlook {
    color: black;
    background:  rgb(252, 252, 252);
    flex: 30%
    

  }

  .big-text {
    font-size: 30px;
}
.middle-text{
    font-size: 24px;
}

