.main-container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
}
.main-weather-container{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.your-location-weather-card {
  min-width: 250px;
  padding: 20px;
  margin: 5px;
  background: rgb(228, 240, 162);
}
.weather-card{
  min-width: 250px;
  padding: 20px;
  margin: 5px;
  background: transparent;
  
}

.search-card{
    min-width: 250px;
    padding: 20px;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
}

.title{
   text-align: center;
   line-height: 10px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    
  }
 .flex-row > div {
    flex: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;

  }
  div > .temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    color: black;
    line-height: 30px;
}
div> .outlook {
    color: black;
    background:  grey;
    flex: 30%
  }

.big-text {
    font-size: 30px;
}
.middle-text{
    font-size: 24px;
}

.flex-container {
  display: flex;
  flex-wrap : wrap;
  flex-direction: row;
  justify-content: center;

  
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  align-content: flex-start;
  background: lightblue;
  
}
hr.divider {
	height: 5px;
	border: 0;
	box-shadow: 0 5px 5px -5px #8c8b8b inset;
  
}

#visible{
  display: none;
}