<div class="main-container">
  <div class="mat-elevation-z-2 search-card" > 
    <mat-card-actions class="middle-text">
      <h1>Введіть місто</h1>
            <mat-form-field class="example-form-field">
              <mat-label>Введіть місто</mat-label>
              <input matInput type="text" (input)="cityName=$event.target.value">
            </mat-form-field>
            <button  mat-button *ngIf="cityName" mat-raised-button color="primary" (click) = "ShowWeather(cityName)">ОК</button>
    </mat-card-actions>
  </div>
  <mat-card class="mat-elevation-z5 your-location-weather-card"> 
      <mat-card-title class="title big-text">{{current_location_weather?.name}} </mat-card-title>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text">{{current_location_weather?.main.temp.toFixed()}} °C</span>
        <span>Відчувається</span>
        <span class="middle-text">{{current_location_weather?.main.feels_like.toFixed()}} °C</span>
      </div>
      <div class="outlook">
        <div *ngFor="let item of current_location_weather?.weather">
          <img src="assets/images/{{item?.icon}}.png">
          <span>{{item?.description}}</span>
          </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="main-weather-container">
  <mat-card class="weather-card">  
    <mat-card-title class="title big-text">{{current_weather?.name}} </mat-card-title>
    
<div class="flex-container ">
  <div class="mat-elevation-z5">
    День
    <hr class="divider">
    <div>
      Today
    </div>
  </div>
  <div class=" mat-elevation-z5">
    Картинка
    <hr class="divider">
      <div *ngFor="let item of current_weather?.weather">
        <img src="assets/images/{{item?.icon}}.png">
        </div>
  </div>
  <div class=" mat-elevation-z5">
    Вологість
    <hr class="divider">
    <div>
      {{current_weather?.main.humidity}} %
    </div>
  </div>  
  <div class=" mat-elevation-z5">
    Тиск
    <hr class="divider">
    <div>
      {{current_weather?.main.pressure}} mm
    </div>
  </div>  
  <div class=" mat-elevation-z5">
    Швидкість вітру
    <hr class="divider">
    <div>
      {{current_weather?.wind.speed}} м\с
    </div>
  </div>  
  <div class=" mat-elevation-z5">
    Температура
    <hr class="divider">
    <div>
      {{current_weather?.main.temp.toFixed()}} °C
    </div>
  </div>  
  <div class=" mat-elevation-z5">
    Схід сонця
    <hr class="divider">
    <div>
      {{current_weather?.sys.sunrise}}
    </div>
  </div>  
  <div class=" mat-elevation-z5">
    Захід сонця
    <hr class="divider">
    <div>
      {{current_weather?.sys.sunset}}
    </div>
  </div>  
</div>
</mat-card>
</div>
  


